[VERSION]
major = 1
minor = 0

[VARIATION]
base_container = "..\HorizonSim_B787_9_TRENT"

;===================== FLTSIM =====================

[FLTSIM.0]
title = "Boeing 787-9 GC-CAA" ; Variation name
model = "\..\..\HorizonSim_B787_9_TRENT\model" 
panel = "\..\..\HorizonSim_B787_9_TRENT\panel.RR" ; Show Only Wing Registrations
sound = "\..\..\HorizonSim_B787_9_TRENT\sound"
texture = "GC-CAA" ; texture folder
ui_createdby = "Tapzi" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_variation = "GC-CAA" ; e.g. World Air, IFR Panel
ui_type = "GC-CAA" ; e.g. 747-400, 172
atc_id = "GC-CAA" ; tail number
atc_airline = "GRAND CARIBBEAN" ; airline name
icao_airline = "GCA" ; airline icao code
atc_flight_number = "787" ; flight number
isUserSelectable = 1 ; Is the plane selectable by the user
