[fltsim]

fallback.1=..\..\..\..\texture
fallback.2=..\..\..\..\texture\Interiors
fallback.3=..\..\..\..\texture\DetailMap
fallback.4=..\..\..\..\texture\Glass
fallback.5=..\..\..\..\texture\Livery
;fallback.6=..\..\HorizonSim_B787_9_GENX\texture.GE
fallback.6=..\..\HorizonSim_B787_9_TRENT\texture.RR
fallback.7=..\..\HorizonSim_B787_9_SHARED\texture
fallback.8=..\..\Asobo_B787_10\texture
fallback.9=..\..\..\..\texture\Planes_Generic
fallback.10=..\..\..\..\texture\Extinguisher